body{
    display: flex;
    justify-content: center;
    background-color: brown;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    /* border: 1px solid red; */
    background-color: white;
    padding: 20px ;
    border-radius: 5px;
    gap: 10px;
    margin-top: 50px;
    /* display: none; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    
}
form input{
    padding: 10px;
}
#submitbtn{
    padding: 10px;
    height: 100%;
    width: 100px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: green;
    align-items: center;
    text-align: center;
}
#submitbtn:hover{
    background-color: red;
    color: white;
}
.cancle{
    /* position: absolute; */
    display: flex;
justify-content: right;


}
.canclebtn{
    width: 30px;
    height: 30px;
}
label{
    font-size:larger;
    font-weight: bold;
    font-style: normal;
}
